body, html {
  margin: 0px;
  height: 100%;
  padding: 0px;
}
.homework1 , .homework2, .homework3 {
  position: relative;
  height: 100%;
}
.bg1 > img {
  height:100%;
  width:100%;
  position:absolute;
}
.bg1 > .title {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  margin-top: -100px;

}
.title > h1, p {
  color: white;
  margin: 0;
}
.title > h1 {
  font-size: 72px;
  font-family: Arial-BoldMT;
  margin-bottom: 20px;
}
.title > button {
  width: 200px;
  height: 50px;
  border: 2px solid #50e3c2;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-family: ArialMT;
  margin-top: 60px;
  transition: all .5s;
}
.title > button:hover {
  background-color: #50e3c2

}
.title > p {
  font-size: 20px;
  font-family:PingFangTC-Regular;
}
.mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0px;
  background-color: rgba(61,86,125,.55);
}

.bg2 {
  background-color: #f4f4f4;
  padding: 40px;
}

.bg2 > h1 {
  text-align: center;
  color: #474747;
  font-size: 36px;
  font-family: PingFangTC-Regular;
}
